* {
    box-sizing: border-box;
  }
.first-container{
    width: 100%;
    height: 20%;
}
.gmail-container-and-others{
    width: 100%;
    height: 20%;
}
body {
    height: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: right;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
  }
  li p {
    font-size: 13px;
  }
  .dot {
    width:32px;
 height: 25px;

 background-color: #0288d1;
 border-radius: 90%;
 display: inline-block;
 color:white;
text-align: center;
vertical-align: middle;
line-height: 25px

}
.lupa{
  position:absolute;
  top:7px;
  left:363px;

}
.microphone{
  position:absolute;
  top:5px;
  left:890px;


}